{
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "plugin:@wordpress/eslint-plugin/recommended"],
	"env": {
		"browser": true,
		"es2020": true
	},
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"rules": {
		"prettier/prettier": "warn",
		"no-console": "off",
		"camelcase": ["warn", { "allow": ["element_id"] }],
		"no-eval": "error",
		"eqeqeq": ["error", "always"],
		"quotes": ["error", "single"],
		"semi": ["error", "always"],
		"no-trailing-spaces": "error",
		"eol-last": ["error", "always"],
		"no-unused-vars": "off"
	}
}
